.hero {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #1e1e1e;
  color: white;
  padding: 50px;
  height: 93vh;
  box-sizing: border-box;
  position: relative;
  
}

.hero-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1;
}

.hero-content {
  max-width: 600px;
}

.hero-content h1 {
  font-size: 50px;       /* was 50px */
  line-height: 1.1;      /* reduce to tighten spacing */
  width: 100%;       /* allow full width usage */
  word-break: break-word;
}

.red {
  color: #f44336;
}

.yellow {
  color: #ffeb3b;
}

.menu-button {
  padding: 10px 27px;
  border: 2px solid green;
  background-color: transparent;
  color: white;
  cursor: pointer;
  border-radius: 6px;
  transition: all 0.3s ease;
  margin-top: 20px;
}

.menu-button:hover {
  background-color: green;
  color: black;
}



.hero-image img {
  border: 10px solid white;
  border-radius: 50%;
  width: 100%;
  height: 450px;
  object-fit: cover;
}
.footer-text{
  position: relative;
  text-align: end;
  top: 30px;
  left: 40px;
}
